<section class="form-credit">
  <form action="#" class="form-credit__form main-form">
    <div class="main-form__title-wrapper">
      <h2 class="main-form__title">Кредитные и лизинговые программы</h2>
      <p class="main-form__subtitle">Срок рассмотрения 1 час</p>
    </div>
    <div class="main-form__group">
      <div class="input-radio">
        <input type="radio" name="radio" id="credit" checked>
        <label for="credit">Условия кредитования</label>
      </div>
      <div class="input-radio">
        <input type="radio" name="radio" id="leasing">
        <label for="leasing">Условия лизинга</label>
      </div>
    </div>
    <div class="main-form__group">
      <div class="input-wrap">
        <label for="time">Срок кредита, месяцевs</label>
        <input type="text" name="time" id="time">
      </div>
    </div>
  </form>
</section>