.button {
  @include btn-reset;
  display: inline-block;
  padding: 17px 28px;
  width: 273px;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  text-align: center;
  text-decoration: none;
  color: #F6F3F2;
  background-color: $blue;
  border-radius: 6px;
  cursor: pointer;
  transition: opacity $style-change-duration;

  &:not(:disabled):hover,
  &:not(:disabled):focus,
  &:active,
  &--active {
    opacity: 0.8;;
  }

  &:disabled,
  &--disabled {
    color: $white;
    background-color: $grey;
    cursor: default;
  }

  &:focus {
    outline: none;
  }
}
