.container {
  width: 100%;
  max-width: 1660px;
  padding: 0 130px;
  margin: 0 auto;

  @media (max-width: $laptop-width) {
    padding: 0 32px;
  }

  @media (max-width: $mobile-max-width) {
    padding: 0 24px;
  }
}
