.form-range {
  &.noUi-horizontal {
    align-self: center;
    width: 98%;
    height: 3px;

    @media (max-width: $mobile-max-width) {
      width: 96%;
    }

    & .noUi-handle {
      top: -8px;
      width: 20px;
      height: 20px;
      background-color: $blue;
      border: 5px solid $white;
      border-radius: 50%;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
      cursor: pointer;

      &:after,
      &:before {
        display: none;
      }

      &:focus {
        outline: none;
      }
    }
  }

  &.noUi-target {
    border: none;
    background-color: $transparent;
    box-shadow: none;
  }

  & .noUi-connect {
    background-color: $blue;
  }
}