.input-radio {
  margin-right: 30px;
  margin-bottom: 30px;

  @media (max-width: $laptop-width) {
    margin-bottom: 20px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 10px;
  }

  & label {
    font-size: 20px;
    line-height: 24px;
    color: $grey;
    transition: color $style-change-duration;
  }

  & input:not(:disabled) + label:hover {
    color: $blue;
    cursor: pointer;
  }

  & input:disabled + label {
    opacity: 0.6;
  }

  & input:checked + label {
    color: $blue;
  }
}