$desktop-width: 1440px;
$laptop-width: 1024px;
$tablet-width: 768px;
$mobile-max-width: 650px;
$mobile-width: 320px;

// Цвета
$black: #000000;
$white: #ffffff;
$black-primary: #1b1b1b;
$dark-blue: #003469;
$blue: #00aad2;
$grey: #767676;
$grey-light: #e4dcd3;
$light: #efece7;
$transparent: rgba(0, 0, 0, 0);

// Шрифты
$font: "Hyundai Sans Head Office", "Arial", sans-serif;

$style-change-duration: 0.3s;

$retina2x-dpi: 144dpi;
$retina2x-dppx: 1.5dppx;
